h1{
    text-align: center;
    margin: 5px auto;
}

#container {
    width: 1394px;
    height: 700px;
}

#start {
    text-align: center;
}

#time {
    margin-top: 7px;
    margin-bottom: 7px;
}

#playingField {
    width: 900px;
    height: 600px;
    background: #8686C6;
    position: relative;
    margin: auto;
}

#p1Score {
    float: left;
    margin-left: 75px;
    text-decoration: underline;
}

#p2Score {
    float: right;
    margin-right: 75px;
    text-decoration: underline;
}

#player1 {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    position: absolute;
}

#player2 {
    width: 30px;
    height: 30px;
    background: blue;
    border-radius: 50%;
    position: absolute;
}