h1 {
    text-align: center;
}

#container {
    width: 1394px;
    height: 700px;
}

#playingField {
    width: 900px;
    height: 600px;
    background: #8686C6;
    position: relative;
    margin: auto;
}

#player1 {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    position: absolute;
}

#player2 {
    width: 30px;
    height: 30px;
    background: blue;
    border-radius: 50%;
    position: absolute;
}