body {
    background: rgb(12, 12, 12);
}

h1{
    text-align: center;
    margin: auto;
    margin-bottom: 8px;
    color: #D0D3D2;
}

#container {
    max-width: 1394px;
    max-height: 700px;
    margin: auto;
}

#start {
    text-align: center;
}

#SG {
    background: #D0D3D2;
}

#S {
    background: #D0D3D2;
}

#timer {
    margin-top: 7px;
    margin-bottom: 7px;
    color: #D0D3D2;
}

#playingField {
    width: 900px;
    height: 600px;
    background: #D0D3D2;
    position: relative;
    margin: auto;
    border: 7px solid #757877;
}

#p1Board {
    float: left;
    color: #FF9797;
    text-align: center;
    margin-left: 50px;
    font-size: 30px;
}

#p2Board {
    float: right;
    color: #99B1FF;
    text-align: center;
    margin-right: 50px;
    font-size: 30px;
}

#player1 {
    width: 30px;
    height: 30px;
    background: #FF9797;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: #000000;
    border: 2px solid #757877;
}

#player2 {
    width: 30px;
    height: 30px;
    background: #99B1FF;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: #000000;
    border: 2px solid #757877;
}

#wall {
    width: 250px;
    height: 70px;
    background: #757877;
    position: absolute;
    border: 2px solid rgb(66, 66, 66);
}

#walltext {
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    color: #D0D3D2;
    font-size: 30px;
}